/*
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;



font-family: 'Baloo Da 2', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Righteous', cursive;
font-family: 'Patua One', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Kalam', cursive;
*/

html{
  position: relative;
  min-height: 100%;
}
body{
  /*margin:0 0 120px;*/
  padding: 0;
}
#header{
  /*background-color: #fff;*/
  /*background-color: #c2ae87;*/
  /*background-color: #ffc940;*/
  /*background-color: #2e2a2a;*/
  /*background-color: #255363;*/
  /*background-color: #2d8fb3;*/
  /*background-color: #796691;*/
  background-color: #fff12b;
}
.header-text{
  /*color:#fff;*/
  color:#000;
}
#header{
  height: 20vh;
  padding-top:40px;
  padding-bottom: 40px;
  top:0;
  position: sticky;
  overflow: hidden;
  z-index: 999;
}
.header-text{
  font-family: 'Bree Serif', serif;
  font-family: 'Righteous', cursive;
  font-weight: bold;
  text-align: right;
  /*font-size: 25.6px;*/
  margin-top: 30px;
  font-size: 50.6px;
}
.sec-1-img-container{
  padding-right:20%;
  padding-left: 20%;
}
#sec-1-img{
  float: right;
  width: 450px;
  height: 490px;
}
.sec-1-txt{
  font-size:45.4px;
 font-family: 'Roboto Slab', serif;
 text-align: center;
 color:#fff;
}

.section{
  padding-top:100.6px;
  padding-bottom: 40.7px;
  height: 80vh;
}
#sec-1{
  /*background-image: url("./images/aleks-dahlberg-WMWF9WcDBOw-unsplash.jpg");*/
  background-image: url("./images/anqi-lu-783189-unsplash.jpg");
  /*background-image: url("./images/sec-1-bg.png");*/
  /*background-image: url("./images/reticentful-7K24SkQUbSw-unsplash.jpg");*/
  
  
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}
#sec-2,#contact{
  background-color: #444444;
}

#sec-3{
  background-color:#946c99;
}
.sec-2-h1,.sec-4-h1,.sec-3-h1{
  color: #fff;
  text-align: center;
  font-size: 90px;
}
.sec-2-h1{
  font-family: 'Pacifico', cursive;
}
.sec-3-h1{
font-weight: 800;
/* font-family: 'Patua One', cursive; */
/* font-family: 'Pacifico', cursive; */
font-family: 'Roboto Mono', serif;
}
.sec-4-h1{
  /* font-family: 'Patua One', cursive; */
  font-family: 'Pacifico', cursive;
  font-weight: 1000;
}
#email-contact{
  font-family: 'Roboto', sans-serif;
  color:#ffffff;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}
#email{
 /* color:#cf326e;
  color:#ff3b86;
  color:#ffffff;*/
  color:#15cbd1;
}
.sec-2-p{
  margin-top:44px;
  color:#fff;
  font-family: 'Roboto Slab', serif;
  font-size: 40.7px;
}
.react{
  background-color: #c9fffd;
  color: #707070;
}
.html{
  background-color: #9effae;
  color: #707070;
}
.css{
  background-color: #6cd6d3; 
  color: #707070;
}
.javascript{
  background-color: #8f8f8f;
  color: #ffffff;
}
.golang{
  background-color: #00ffe5;
  color: #707070;
}
.python{
  background-color: #ff88c8;
  color: #707070;
}
.webdes{
  background-color: #ffe74e;
  color: #707070;
}
.sql{
  background-color: #b16dff;
  color: #ffffff;
}
.linux{
  background-color: #5e5e5e;
  color: #ffffff;
}
.contact-link{
 color:#15cbd1;
}
.contact-link:hover{
  text-decoration: none;
  color: #15cbd1;
}
.skills{
  margin-top: 30px;
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill{
  /*float: left;*/
  /*font-family: 'Bree Serif', serif;*/
  font-family: 'Righteous', cursive;
  font-weight: 600;
  padding:25px 38px 25px 38px;
  margin: 18px;
  font-size:40px;
}
#resume-link{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  padding:25px 45px;
  border-radius: 50px;
  font-size: 50.5px;
  border: none;
  text-decoration: none;
  /*color: #ffffff;*/
  /*color:#000000;*/
  color:#636363;
  /*color: #15cbd1;*/
  transition: 0.5s;
}
.resume-link-container{
  margin-top: 70px;
}
#footer{
  padding-top: 49px;
  background-color: #ffffff;
  /*background-color: #c7c7c7;*/
  background-color: #ebae46;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 280px;
  /*margin-top:150px;*/
}
.footer-text{
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: verdana;
  /*font-family: 'Roboto Slab', serif;*/
}
.footer-link{
  font-size:60px;
  text-decoration: none;
  color:#000;
}
.footer-link:hover{
  color:#000;
}
.email-container-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0;
  margin-top: 40px;
}
.copy-btn{
  background-color: transparent;
  border:none;
  font-size: 50px;
  color:#ffffff;
}
/*@media only screen and (min-width: 840px){
  .section{
    padding-top:35.6px;
  }
  .header-text{
    font-size: 24px;
  }
  .sec-1-txt{
    font-size: 27px;
  }
  .sec-2-h1,.sec-3-h1,.sec-4-h1{
    font-size: 45px;
  }
  .sec-2-p{
    margin-top:26px;
    font-size: 20px;
  }
  #sec-1-img{
    width: 200px;
  height: 240px;
  }
  .sec-1-img-container{
    padding-right:30%;
    padding-left: 30%;
  }
 
  .skills{
    display: block;
    margin-top: -6px;
  }
  .skill{
    float: left;
    padding:12px 25px 12px 25px;
  margin: 14px;
  }
  #email-contact{
  font-size: 21px;
  }
.resume-link-container{
  margin-top: 23px;
}
#resume-link{
  font-size: 27px;
}
}*/
@media only screen and (min-width: 1200px){
  .section{
    padding-top:50.6px;
  }
  .header-text{
    font-size: 24px;
    margin-top: 0px;
  }
  .sec-1-txt{
    font-size: 27px;
  }
  .sec-2-h1,.sec-3-h1,.sec-4-h1{
    font-size: 50px;
  }
  .sec-2-p{
    margin-top:35px;
    font-size: 27px;
  }
  #sec-1-img{
    width: 240px;
  height: 280px;
  }
  .sec-1-img-container{
    padding-right:30%;
    padding-left: 30%;
  }
  #sec-3{
    height:80vh !important;
  }
  .skills{
     margin-top: 0px;
    display: block;
  }
  .skill{
    float: left;
    padding:20px 38px 20px 38px;
    margin: 25px;
    font-size: 16px;
  }
  #email-contact{
  font-size: 27px;
  font-weight: bold;
}
.email-container-div{
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.resume-link-container{
  margin-top: 35px;
}
#resume-link{
  /*padding:10px 30px;*/
  font-size: 27px;
}
.copy-btn{
  font-size: 27px;
}
#footer{
  height: 140px;
  padding-top: 35px;
}
.footer-text{
   font-size: 19px;
}
.footer-link{
  font-size:27px;
}
}